#principal {
    background: rgba(0, 0, 0, 0.49);
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

    #principal h1 {
        
    }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
li {
    padding: 5px;
}    
    li a{
        text-decoration:none;
        color:black;
    }
        #menu a:hover {
            background-color: #ffffff;
            padding:5px;

        }

#geral {
    text-align: center;
    background: rgba(0, 0, 0, 0.49);
    padding: 10px 10px 10px 10px;
    margin:0 auto;
    width:500px;
}
